debug/
target/
**/*.rs.bk
*.pdb
node_modules/

# Certificates/keys
*.pfx
*.pem

# Default content folders
data/*
!data/.gitkeep
errdocs/*
!errdocs/.gitkeep
partials/*
!partials/.gitkeep
public_root/*
!public_root/.gitkeep
